<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
<meta charset="UTF-8">
<title>لوحة التحكم</title>
  <link rel="stylesheet" href="/static/style.css">

</head>
<body>
<div class="dashboard">

<div class="topbar">
<h2>لوحة التحكم</h2>

<a href="/logout" class="logout">
تسجيل الخروج
</a>
</div>

<div class="stats">

<div class="stat-card">
<h3>الباقة الحالية</h3>
<span>FREE</span>
</div>

<div class="stat-card">
<h3>الحسابات المرتبطة</h3>
<span>0</span>
</div>

<div class="stat-card">
<h3>الرسائل المجدولة</h3>
<span>0</span>
</div>

</div>
  <div class="accounts-section">

<h2>حسابات تلجرام</h2>

<button class="add-account-btn">
إضافة حساب
</button>

<div class="modal">

<form method="POST" action="/add-account">

<input
type="text"
name="account_name"
placeholder="اسم الحساب">

<input
type="text"
name="phone_number"
placeholder="رقم الهاتف">

<button type="submit">
حفظ
</button>

</form>

</div>

<div class="account-list">

<div class="account-card">
<div class="account-name">
لا توجد حسابات مرتبطة
</div>
</div>

</div>

</div>

</div>
</body>
</html>
