<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
<meta charset="UTF-8">
<title>تسجيل حساب</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">

<div class="card">

<div class="logo">
<h1>TeleFlow</h1>
<p>منصة إدارة وجدولة النشر</p>
</div>

<form method="POST">

<input type="email"
name="email"
placeholder="البريد الإلكتروني"
required>

<input type="password"
name="password"
placeholder="كلمة المرور"
required>

<button type="submit">
إنشاء حساب
</button>

</form>

<div class="link">
<a href="/login">
لديك حساب؟ تسجيل الدخول
</a>
</div>

</div>
</div>
</body>
</html>
